* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

div {
  width: 500px;
}

h2 {
  margin: 0;
  font-size: 18px;
  font-weight: 900;


}

.card {
  width: 100%;
  height: 224px;
  border-radius: px;
  background-repeat: no-repeat;


}

.whole-body {
  border: none;
  border-radius: 8px;
  padding: 40px;
  margin-left: 30px;
  margin-top: 20px;
  background-color: white;




}

.learn {
  padding: 40px;
  background-color: rgb(247, 242, 242);
}


p {
  font-weight: bold;
  font-size: 14px;
  margin-top: 5px;
  margin-right: 15px;
}

span {
  font-size: 11px;
  font-weight: normal;
}

#elephant {
  background-image: url('characters/bg-elephant.jpg');
  background-size: 100%;
  margin-bottom: 30px;
  border-radius: 15px;
  padding: 70px 0 0 200px;


}

#sorceress {
  background-image: url('characters/bg-cat.jpg');
  background-size: 100%;
  margin-bottom: 30px;
  border-radius: 15px;
  padding: 70px 0 0 200px;
}

#fashionista {
  background-image: url('characters/bg-bunny.jpg');
  background-size: 100%;
  border-radius: 15px;
  padding: 70px 0 0 200px;
}



p {
  display: inline-block;
  line-height: 1.55rem;
}