* {
  box-sizing: border-box;
}

body {
  font-family: 'poppins', sans-serif;
}

section {
  background-color: gray;
}

div {
  margin-top: 30px;
}

h1 {
  font-weight: 900;
  font-size: 32px;
}

input {
  font-family: 'poppins', sans-serif;
  outline: none;
  font-size: 16px;
}

select {
  outline: none;
  width: 100%;
  height: 30px;
  font-size: 16px;
  font-family: 'poppins', sans-serif;
  padding-left: 10px;
}

input[type="text"] {
  width: 85%;
}

.name-info,
.email-info,
.city-info,
.state-info,
.zip-info,
.sign-up-container {
  display: inline-block;
}

.sign-up-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#order-name,
#order-email,
#address-info,
#order-city,
#order-state,
#order-zip {
  display: block;
}

.whole-section {
  border: 1px;
  border-style: solid;
  padding: 40px;
  margin: 30px 200px;
  border-radius: 8px;
  background-color: white;
  border: none;
}

.name-email-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.city-state-zip {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin-bottom: 20px;

}

#order-name,
#order-email,
#order-address1,
#order-address2,
#order-zip,
#order-city {
  width: 100%;
  padding: 15px;
  border: 1px solid;
  border-radius: 4px;
  margin-top: 10px;
  border-color: rgb(184, 178, 178);
}

#order-state {
  width: 100%;
  height: 56px;
  border-radius: 4px;
  margin-top: 10px;
  border-color: rgb(184, 178, 178);
}

#order-address-input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

#team-size-container {
  font-weight: 500;
  font-size: 14px;
}

button {
  background-color: rgb(44, 134, 217);
  color: white;
  border: none;
  padding: 20px 30px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.color-container label,
.sample-size label {
  margin-right: 40px;
}

.color-container input {
  margin-right: 2px;
}

#color-sample-info {
  font-weight: bold;
  margin: 0;
  display: block;
}

.color-container input[type="checkbox"],
.sign-up-container input[type="checkbox"],
.sample-size input[type="radio"] {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

#color-info {
  margin-right: 10px;
  font-weight: 500;
  font-size: 14px;
  margin-right: 20px;
}

input[type="checkbox"],
input[type="radio"] {
  vertical-align: middle;
}

.color-container,
.sample-size {
  line-height: 3rem;
  margin-top: 0;
  align-items: center;
}

#offer-sign-up-container {
  display: flex;
  align-items: center;
}

textarea {
  display: block;
  outline: none;
  width: 100%;
  resize: none;
  border-radius: 4px;
  border-color: rgb(184, 178, 178);
}