* {
  box-sizing: border-box;
}

body {
  font-family: 'poppins', sans-serif;
}

.learn {
  background-color: gray;
  padding: 70px;

}

div.whole-body {
  width: 500px;
  border-radius: 8px;
  background-color: white;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 30px;
  padding-bottom: 30px;

}

.cheese-image img {
  width: 100%;
}

h1 {
  font-weight: 900;
  font-size: 30px;

  margin-bottom: 50px;
  margin-left: 40px;
}

.ingredients,
.steps {
  margin-left: 40px;
}

.steps {
  background-color: rgb(218, 212, 212);
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 30px;
  padding-left: 20px;
  padding-top: 16px;
  padding-bottom: 20px;
  border-radius: 8px;


}

h2 {
  margin-left: 8px;
  font-weight: 700;
  margin-bottom: 40px;
}

h3 {
  font-size: 24px;
  margin-left: 20px;
  font-weight: 700;
  margin-bottom: 40px;
}

li {
  font-weight: 500;
  font-size: 18px;
}

.save-recipe {
  border: 3px solid purple;
  border-radius: 40px;
  margin: 40px;
  margin-bottom: 0;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.save-recipe p {
  display: inline-block;
  font-weight: 700;
  margin: 0 0 0 10px;
  color: purple;
}

.save-recipe img {
  vertical-align: middle;
}