body {
  font-family: 'poppins', sans-serif;
}

h1 {
  font-weight: 900;
  font-size: 32px;
  margin-bottom: 40px;
}

section {
  background-color: gray;
}

.whole-table {
  border: none;
  border-radius: 8px;
  padding: 20px 50px 50px 50px;
  margin: 80px 200px;
  background-color: white;
}

.myTable {
  width: 100%;
  border: 1px solid;
  border-radius: 8px;
  border-collapse: collapse;

}

.myTable th {
  background-color: black;
  color: gray;


}

.processing {
  background-color: lightgreen;
  color: blue;
  font-weight: 600;
}

.success {
  background-color: lightgray;
  color: darkgreen;
  font-weight: 600;
}

.reverted {
  background-color: lightpink;
  color: red;
  font-weight: 600;
}

.processing,
.success,
.reverted {
  padding: 8px 10px;
  border: none;
  border-radius: 20px;

}

tfoot {
  background-color: lightgray;
}

.myTable td {
  border-bottom: 1px solid;
  align-items: center;
}

.myTable td,
.myTable th {
  padding: 20px;
  text-align: left;
}