body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: wheat;
}

.slider-container {
    width: 500px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    overflow: hidden;
    position: relative;
}

.image-container {
    display: flex;
    transition: transform .4s ease-in-out;
}

.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 20px;
    opacity: .5;
    cursor: pointer;
}

.btn:hover {
    opacity: 1;
}

.btn.next {
    right: 10px;
}

.btn.prev {
    left: 10px;
}