* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

body {
    min-height: 100vh;
    background: gainsboro;
}

nav.header {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: darkolivegreen;
    height: 80px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
}

nav.header h1 {
    margin-left: 50px;
}

nav.header ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 65%;
}

nav.header ul li {
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
    border-radius: 7px;
    transition: all 300ms ease;
}

nav.header ul li a {
    height: 100%;
    text-decoration: none;
    font-size: 18px;
    color: antiquewhite;
    font-weight: bold;
    padding: auto;
}

/* nav.header .menu li:hover {
    background: darkgrey;
} */

/* nav.header .menu li:hover a {
    color: orangered;

} */

nav.header .menu li a:hover {
    color: orangered;
}

nav.header .menu li.contact .bi,
nav.header .menu li.course .bi {
    color: antiquewhite;
    margin-left: 5px;
    font-weight: bold;
}

nav.header .menu li.contact,
nav.header .menu li.course {
    position: relative;
    transition: all 2s ease;

}


nav.header .menu li.course ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 65px;
    left: 15px;
    background-color: darkolivegreen;
    width: 150px;
    border-radius: 0 0 4px 4px;
    display: none;
}

nav.header .menu li.contact ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 65px;
    right: -15px;
    background-color: darkolivegreen;
    width: 150px;
    border-radius: 0 0 4px 4px;
    display: none;
}




#new a i {
    margin-top: 10px;
}



nav.header .menu li.contact ul li,
nav.header .menu li.course ul li {
    width: 100%;
    transition: all 300ms ease;
}

nav.header .menu li.contact ul li a,
nav.header .menu li.course ul li a {
    width: 100%;
    text-align: left;
}

nav.header .menu li.course ul li {
    padding: auto 10px;
}

nav.header .menu li.contact ul li:not(:last-child),
nav.header .menu li.course ul li:not(:last-child) {
    border-bottom: 2px solid antiquewhite;
    border-radius: unset;
}



nav.header .menu li.contact ul li:hover a,
nav.header .menu li.course ul li:hover a {
    color: orangered;
}

nav.header .menu li.contact ul li a i,
nav.header .menu li.course ul li a i {
    margin-right: 7px;
}

.toggle {
    transform: rotate(180deg);
}

nav.header .menu li.contact ul li:hover,
nav.header .menu li.course ul li:hover {
    background-color: rgba(255, 255, 525, .3);
    border-radius: unset;
}

nav.header .menu li.contact ul li a .bi-facebook {
    color: #2e89ff;
}

nav.header .menu li.contact ul li a .bi-whatsapp {
    color: #28a219;
}

nav.header .menu li.contact ul li a .bi-twitter {
    color: #1da1f2;
}

/**
style for the nav bar
**/
section {
    position: relative;
}

.side-bar {

    background-color: gray;
    position: absolute;
    min-height: calc(100vh - 80px);
    display: flex;
    /* align-items: center; */
    /* justify-content: space-around; */
    width: 500px;
}

.side-bar ul {
    display: grid;
    /* height: 400px; */
    margin: auto;
    align-items: center;
    justify-content: center;
    list-style: none;
    align-items: center;
}

.side-bar ul li {
    background-color: red;
    margin-bottom: 8px;
    /* width: 100%; */
    text-align: center;
    height: 100px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    cursor: pointer;
}

.side-bar ul li:hover {
    background-color: aliceblue;
}